<header>
  <img src="./assets/imagenes/nicolas.jpg" width="20%" alt="foto nicolas">
  <h1 class="titulo">Nicolas Martino Maero</h1>
  <p>Desarrollador Web FullStack</p>
  <p>Cordoba (Argentina)</p>
</header>
<section>
  <h1>Acerca de</h1>
  <p>Desarrollador Web FullStack</p>   
  </section>
  <section>
    <h1>Educacion</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <img src="./assets/imagenes/argentina.jpg" class="img-fluid" alt="argentina programa">
            </div>
            <div class="col">  
                <h2>Argentina Programa</h2>
                <p>Se Programar</p>
                <p>Yo Programo</p>  
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-2">
                <img src="./assets/imagenes/santodomingo.jpg" width="60%" alt="Santo domingo">
            </div>
            <div class="col">
                <h2>Instituto Santo Domingo</h2>
                <p>Analista de Sistemas</p>
            </div>
          </div>
          <div class="row">
              <div class="col-2">
                  <img src="./assets/imagenes/ipef.png" class="img-fluid" alt="ipef">
              </div>
              <div class="col">  
                  <h2>Instituto Provincial de Educacion Fisica</h2>
                  <p>Profesorado de Educacion Fisica</p>
                    
              </div>
      </div>
        <footer>
          <p>2022 Martino Nicolas</p> 
       </footer>