body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px;
}
section h1 {
  color: black;
}
.titulo {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 27px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  text-decoration: underline solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
}
section {
  border-color: black;
  border-style: outset;
  border-width: 1px;
  border-radius: 15px;
  margin-bottom: 5px;
  padding: 9px;
}

.ng-valid:not(form).ng-touched   {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form).ng-touched  {
  border-left: 5px solid #a94442; /* red */
}